{% extends 'expertindex.html' %}
{% block content %}
<body>
 <table class="table table-striped">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Suggestion</th>
      <th scope="col">Discription</th>
        <th scope="col">Date</th>
    </tr>
    {% for i in sug %}
    <tr></tr>
      <td>{{i.Login_ID.First_Name}} {{i.Login_ID.Last_Name}}</td>
      <td>{{i.Suggestion}}</td>
        <td>{{i.Discription}}</td>
     <td>{{i.Date}}</td>
      <td><form action="{% url 'deletesuggestion' dataid=i.id %}">
                            <button type="submit" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                              <i class="typcn typcn-delete-outline btn-icon-append"></i>
                            </button>
                              </form></td></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><label>
        <form action="{% url 'suggestionpage' %}">
                        <input type="submit" name="Submit" value="Add" class="btn btn-info"/>
                        </form>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}