{% extends 'userindex.html' %}
{% block content %}
<body>

 <table class="table table-striped">
    <tr>
      <th scope="col">First Name </th>
      <th scope="col">Last Name </th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Department</th>
      <th scope="col">Actions</th>
    </tr>
    {% for i in experts %}
    <tr>
      <td>{{ i.First_Name }}</td>
      <td>{{ i.Last_Name }}</td>
      <td>{{ i.Phone }}</td>
      <td>{{ i.Email }}</td>
      <td>{{ i.Department }}</td>
      <td>
        <p><a href="/Frontend/chat_with_expert/{{i.id}}" class="btn btn-primary">Chat</a></p>
        <p><a href="{% url 'sugesstionview' %}" class="btn btn-info">Suggestions</a></p>
      </td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
{% endblock %}
