{% extends 'adminindex.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Expert Details</h4>

            <div class="col-md-10">
              <div class="card">
                <div class="table-responsive pt-6">
                  <table class="table table-striped project-orders-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Department</th>
                      </tr>
                    </thead>
                      <tbody>
                    {% for d in exp %}
                      <tr>
                        <td>{{d.First_Name}} {{d.Last_Name}}</td>
                        <td>{{d.Place}} {{d.Post}} {{d.Pin}}</td>
                        <td>{{d.Email}}</td>
                        <td>{{d.Phone}}</td>
                        <td>{{d.Department}}</td>
                    <td>
                          <div class="d-flex align-items-center" >
                            <form action="{% url 'editexpert' dataid=d.id %}">
                            <button type="submit" class="btn btn-success btn-sm btn-icon-text mr-3">
                              Edit
                              <i class="typcn typcn-edit btn-icon-append"></i>
                            </button>
                            </form>
                            <form action="{% url 'deleteexpert' dataid=d.id %}">
                            <button type="submit" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                              <i class="typcn typcn-delete-outline btn-icon-append"></i>
                            </button>
                              </form>
                          </div>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                </div>
              </div>
</div>
</body>
</html>
{% endblock %}